# Copiar este archivo como .env y ajustar
PORT=3000

# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=impuestos_bo
DB_USER=postgres
DB_PASSWORD=cambiar_esto

# JWT
JWT_SECRET=cambiar_por_una_cadena_larga_y_secreta
JWT_EXPIRES=7d
